.sub {
  background-color: #000;
  padding-bottom: 30px;
  border-top: 8px solid #222;
}
.faQSection {
  color: white;
}

.faQSection h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 45px;
  text-align: center;
  padding-top: 0px;
}
.details {
  margin: 0 300px;
}

.faqItem {
  width: 700px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  background-color: #303030;
  padding: 20px 30px;
  margin-bottom: 15px;
}

.faqItem p {
  font-size: 25px;
}

.button {
  color: white;
  background-color: #e50914;
  padding: 10px 15px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.getStartedBox {
  max-width: 800px;
  margin: auto;
  text-align: center;
  margin-top: 40px;
}

.getStartedBox p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.getStartedButton {
  text-transform: uppercase;
  font-size: 24px;
  padding: 15px 20px;
  
}

.getStartedInput {
  height: 52px;
  width: 500px;
  bottom: 0;
  padding: 0 10px;
}

@media only screen and (max-width: 768px) {
  
  .faQSection {
    display: flex;
    align-items: center;
    flex-flow: column;
  }
  .faQSection h2 {
    font-size: 28px;
    text-align: center;
    width: 350px;
  }
  .details{
    margin: 0 auto;
   
  }
 
  .faqItem{
    display: flex;
    justify-content: space-between;
    width: 250px;
    
     
  }
  .faqItem p{
    font-size:15px;
  }
  .getStartedBox {
    width: 100%;
  }
  .getStartedBox p {
    font-size: 18px;
  }
  .getStartedInput {
    width: 100%;
  }
}
