.sub {
  background-color: #000;
}
/* sub section ends here */

.section {
  color: white;
  padding: 40px 180px;
  display: flex;
  font-family: "Roboto", sans-serif;
  border-top: 8px solid #222;
}
.col {
  min-height: 300px;
}
.section h1 {
  font-size: 50px;
  margin-top: 100px;
}

.section p {
  font-size: 25px;
}
/* video section starts here */
.base video {
  position: absolute;
  /* position absolute sets it to the topmost 
    part of the screen, then margin top and left
    to position it inisde the image.
  */
  width: 265px;
  margin-left: 58px;
  margin-top: 25px;
}
.tvImage {
  width: 100%;
  bottom: 40px;
  /* giving it a greater z-index value
    so the image's remote controller is on the video file 
    itself.
  */
  z-index: 20;
  /* seting it's position to relative enables it 
    to stay in ths same container (blah blah blah
    not reall sure tho.) 
  */
  position: relative;
}
/* video section ends here */

/* download section starts here */
.section2Image {
  width: 100%;
  height: auto;
  right: 100px;
}

.downloadPopup {
  /* removed the absolute positioning from this 
    section, so it doesn't tamper with my styling.
  */
  display: flex;
  align-items: center;
  width: 300px;
  border: 2px solid #222;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #000;
}

.downloadBanner {
  width: 50px;
  height: auto;
}

.downloadTextBox {
  flex: 1;
  margin-left: 10px;
}

.downloadTextBox h5 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

.downloadTextBox p {
  margin: 0px;
  font-size: 13px;
  margin-top: 5px;
  color: #0071eb;
}
.downloadIcon {
  width: 50px;
}
/* download section ends here */

@media only screen and (max-width: 768px) {
  .section {
    flex-wrap: wrap;
    padding: 0 3%;
  }
  .section h1 {
    font-size: 28px;
    width: 100%;
    text-align: center;
  }
  .section p {
    font-size: 18px;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .base video {
    width: 280px;
  }
  .downloadPopup {
    margin: 0 auto;
    /* margin zero auto to place it at the center */
  }
}
