.main {
  background-image: url(/static/img/main.jpg);
  height: 85vh;
  background-size: cover;
}

.mainContent {
  width: 100%;
  height: 100%;
  background-color: #00000085;
}

.topNav {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}

.netflixlogo {
  fill: #e50914;
  width: 150px;
}
.button {
  color: white;
  background-color: #e50914;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}


.welcomeBox {
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding-top: 50px;
}

.welcomeBox h1 {
  font-size: 50px;
  margin: 20px;
}

.welcomeBox p {
  font-size: 25px;
  margin: 0px;
}

.getStartedBox {
  max-width: 800px;
  margin: auto;
  text-align: center;
  margin-top: 40px;
}

.getStartedBox p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.section{
  display: flex;

}
.getStartedInput {
  height: 52px;
  width: 500px;
  position: relative;
  padding: 0 10px;
}

.getStartedButton {
  text-transform: uppercase;
  width: 250px;
  font-size: 24px;
  padding: 10px 10px;
  
}
.section svg {
  color: #fff;
}



@media only screen and (max-width: 768px) {
  .topNav{
    padding: 20px 30px;
  }
  .welcomeBox {
    padding: 10px 10px;
  }

  .welcomeBox h1 {
    font-size: 28px;
  }
  .welcomeBox p {
    font-size: 18px;
  }
  .getStartedBox p {
    font-size: 18px;
    padding: 0 55px;
    margin-top: -30px;
  }
  .section{
    flex-wrap:wrap;
    padding: 0 20px;
  }
  .getStartedInput {
    width: 90%;
    left: 0;
  }
  .getStartedButton{
    width: 500px;
    margin: 10px 30px;
  }

}
